#tabla {

        width: 25%;

    }



    td {

        border: 1px solid rgb(16, 105, 221);

    }
        
.TIPOS {
        background-color:rgb(23, 255, 158);
        padding: 20px;
        text-align: center;
        margin: 50px;
        color: rgb(143, 0, 95);
    }
.HISTORIA {
    background-color:rgb(23, 228, 255);
    padding: 20px;
    text-align: center;
    margin: 50px;
    color: purple;
}
.ACTUALIDAD {
    background-color:rgb(60, 128, 255);
    padding: 20px;
    text-align: center;
    margin: 50px;
    color: mediumblue;
}
.FINAL {
    background-color:rgb(255, 154, 72);
    padding: 20px;
    text-align: center;
    margin: 50px;
    color: yellow;
}
#footer {
    background-color: rgba(0, 0, 0, 0.699);
    text-align: center;
    padding: 20px;
    color: white;
}
#Inicio {
    text-align: center;
}